/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
#
### Package Files would be ignored
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.iml
#
### Sasha added
intellijdemo.iml
mvnw
mvnw.cmd
pom.xml
.idea
#### Sasha (end)
#
### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

